Generator.json
[
    {
        "id": "0f090326dfca25f3",
        "type": "tab",
        "label": "Generator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92f675dce0b4e887",
        "type": "victron-output-generator",
        "z": "0f090326dfca25f3",
        "service": "com.victronenergy.generator.startstop0",
        "path": "/ManualStart",
        "serviceObj": {
            "service": "com.victronenergy.generator.startstop0",
            "name": "com.victronenergy.generator.startstop0",
            "paths": [
                {
                    "path": "/AutoStartEnabled",
                    "type": "enum",
                    "name": "Auto start enabled/disabled",
                    "enum": {
                        "0": "Autostart disabled",
                        "1": "Autostart enabled"
                    },
                    "writable": true
                },
                {
                    "path": "/ManualStart",
                    "type": "enum",
                    "name": "Manual Start",
                    "enum": {
                        "0": "Stop generator",
                        "1": "Start generator"
                    },
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/ManualStart",
            "type": "enum",
            "name": "Manual Start",
            "enum": {
                "0": "Stop generator",
                "1": "Start generator"
            },
            "writable": true
        },
        "initial": "0",
        "name": "",
        "x": 1580,
        "y": 480,
        "wires": []
    },
    {
        "id": "376a82f17dc46bce",
        "type": "victron-input-system",
        "z": "0f090326dfca25f3",
        "service": "com.victronenergy.system",
        "path": "/Ac/ActiveIn/Source",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Ac/ActiveIn/Source",
                    "type": "enum",
                    "name": "AC-Input",
                    "enum": {
                        "0": "Not available",
                        "1": "Grid",
                        "2": "Generator",
                        "3": "Shore",
                        "240": "Inverting"
                    }
                },
                {
                    "path": "/Ac/Consumption/L1/Power",
                    "type": "float",
                    "name": "AC Consumption L1 (W)"
                },
                {
                    "path": "/Ac/Consumption/L2/Power",
                    "type": "float",
                    "name": "AC Consumption L2 (W)"
                },
                {
                    "path": "/Ac/Consumption/L3/Power",
                    "type": "float",
                    "name": "AC Consumption L3 (W)"
                },
                {
                    "path": "/Ac/Genset/DeviceType",
                    "type": "float",
                    "name": "Genset Device Type",
                    "enum": {}
                },
                {
                    "path": "/Ac/Genset/L1/Power",
                    "type": "float",
                    "name": "Genset L1 (W)"
                },
                {
                    "path": "/Ac/Genset/L2/Power",
                    "type": "float",
                    "name": "Genset L2 (W)"
                },
                {
                    "path": "/Ac/Genset/L3/Power",
                    "type": "float",
                    "name": "Genset L3 (W)"
                },
                {
                    "path": "/Ac/Genset/NumberOfPhases",
                    "type": "integer",
                    "name": "Genset Number Of Phases"
                },
                {
                    "path": "/Ac/Grid/DeviceType",
                    "type": "float",
                    "name": "Grid Device Type"
                },
                {
                    "path": "/Ac/Grid/L1/Power",
                    "type": "float",
                    "name": "Grid L1 (W)"
                },
                {
                    "path": "/Ac/Grid/L2/Power",
                    "type": "float",
                    "name": "Grid L2 (W)"
                },
                {
                    "path": "/Ac/Grid/L3/Power",
                    "type": "float",
                    "name": "Grid L3 (W)"
                },
                {
                    "path": "/Ac/Grid/NumberOfPhases",
                    "type": "integer",
                    "name": "Grid Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnGenset/L1/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L1"
                },
                {
                    "path": "/Ac/PvOnGenset/L2/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L2"
                },
                {
                    "path": "/Ac/PvOnGenset/L3/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L3"
                },
                {
                    "path": "/Ac/PvOnGenset/NumberOfPhases",
                    "type": "integer",
                    "name": "PV Power AC-tied on Generator Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnGrid/L1/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L1 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/L2/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L2 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/L3/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L3 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/NumberOfPhases",
                    "type": "integer",
                    "name": "PV - AC-coupled on input Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnOutput/L1/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L1 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/L2/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L2 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/L3/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L3 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/NumberOfPhases",
                    "type": "integer",
                    "name": "PV - AC-coupled on output Number Of Phases"
                },
                {
                    "path": "/Buzzer/State",
                    "type": "float",
                    "name": "Buzzer State",
                    "enum": {
                        "0": "Off",
                        "1": "On"
                    }
                },
                {
                    "path": "/Dc/Battery/ConsumedAmphours",
                    "type": "float",
                    "name": "Battery Consumed Amphours (Ah)"
                },
                {
                    "path": "/Dc/Battery/Current",
                    "type": "float",
                    "name": "Battery current (A)"
                },
                {
                    "path": "/Dc/Battery/Power",
                    "type": "float",
                    "name": "Battery Power (W)"
                },
                {
                    "path": "/Dc/Battery/Soc",
                    "type": "float",
                    "name": "Battery State of Charge (%)"
                },
                {
                    "path": "/Dc/Battery/State",
                    "type": "enum",
                    "name": "Battery state",
                    "enum": {
                        "0": "idle",
                        "1": "charging",
                        "2": "discharging"
                    }
                },
                {
                    "path": "/Dc/Battery/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/Battery/TimeToGo",
                    "type": "float",
                    "name": "Battery Time to Go (h)"
                },
                {
                    "path": "/Dc/Battery/Voltage",
                    "type": "float",
                    "name": "Battery voltage (V)"
                },
                {
                    "path": "/Dc/Charger/Power",
                    "type": "integer",
                    "name": "AC-Chargers - power (W)"
                },
                {
                    "path": "/Dc/Pv/Current",
                    "type": "float",
                    "name": "MPPTs - current (A)"
                },
                {
                    "path": "/Dc/Pv/Power",
                    "type": "float",
                    "name": "MPPTs - power (W)"
                },
                {
                    "path": "/Dc/System/Power",
                    "type": "float",
                    "name": "DC System (W)"
                },
                {
                    "path": "/Dc/Vebus/Current",
                    "type": "float",
                    "name": "VE.Bus charge current (A)"
                },
                {
                    "path": "/Dc/Vebus/Power",
                    "type": "float",
                    "name": "VE.Bus charge power (W)"
                },
                {
                    "path": "/Serial",
                    "type": "string",
                    "name": "Serial (System)"
                },
                {
                    "path": "/SystemType",
                    "type": "string",
                    "name": "System type"
                },
                {
                    "path": "/Timers/TimeOff",
                    "type": "float",
                    "name": "Time off (s)"
                },
                {
                    "path": "/Timers/TimeOnGenerator",
                    "type": "float",
                    "name": "Time generator (s)"
                },
                {
                    "path": "/Timers/TimeOnGrid",
                    "type": "float",
                    "name": "Time grid (s)"
                },
                {
                    "path": "/Timers/TimeOnInverter",
                    "type": "float",
                    "name": "Time inverting (s)"
                }
            ]
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/Source",
            "type": "enum",
            "name": "AC-Input",
            "enum": {
                "0": "Not available",
                "1": "Grid",
                "2": "Generator",
                "3": "Shore",
                "240": "Inverting"
            }
        },
        "initial": "",
        "name": "",
        "x": 410,
        "y": 840,
        "wires": [
            [
                "d80bdb68af7b6dab"
            ]
        ]
    },
    {
        "id": "ba07930c5b644f67",
        "type": "victron-input-system",
        "z": "0f090326dfca25f3",
        "service": "com.victronenergy.system",
        "path": "/Timers/TimeOnGenerator",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "com.victronenergy.system",
            "paths": [
                {
                    "path": "/Ac/ActiveIn/Source",
                    "type": "enum",
                    "name": "AC-Input",
                    "enum": {
                        "0": "Not available",
                        "1": "Grid",
                        "2": "Generator",
                        "3": "Shore",
                        "240": "Inverting"
                    }
                },
                {
                    "path": "/Ac/Consumption/L1/Power",
                    "type": "float",
                    "name": "AC Consumption L1 (W)"
                },
                {
                    "path": "/Ac/Consumption/L2/Power",
                    "type": "float",
                    "name": "AC Consumption L2 (W)"
                },
                {
                    "path": "/Ac/Consumption/L3/Power",
                    "type": "float",
                    "name": "AC Consumption L3 (W)"
                },
                {
                    "path": "/Ac/Genset/DeviceType",
                    "type": "float",
                    "name": "Genset Device Type",
                    "enum": {}
                },
                {
                    "path": "/Ac/Genset/L1/Power",
                    "type": "float",
                    "name": "Genset L1 (W)"
                },
                {
                    "path": "/Ac/Genset/L2/Power",
                    "type": "float",
                    "name": "Genset L2 (W)"
                },
                {
                    "path": "/Ac/Genset/L3/Power",
                    "type": "float",
                    "name": "Genset L3 (W)"
                },
                {
                    "path": "/Ac/Genset/NumberOfPhases",
                    "type": "integer",
                    "name": "Genset Number Of Phases"
                },
                {
                    "path": "/Ac/Grid/DeviceType",
                    "type": "float",
                    "name": "Grid Device Type"
                },
                {
                    "path": "/Ac/Grid/L1/Power",
                    "type": "float",
                    "name": "Grid L1 (W)"
                },
                {
                    "path": "/Ac/Grid/L2/Power",
                    "type": "float",
                    "name": "Grid L2 (W)"
                },
                {
                    "path": "/Ac/Grid/L3/Power",
                    "type": "float",
                    "name": "Grid L3 (W)"
                },
                {
                    "path": "/Ac/Grid/NumberOfPhases",
                    "type": "integer",
                    "name": "Grid Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnGenset/L1/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L1"
                },
                {
                    "path": "/Ac/PvOnGenset/L2/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L2"
                },
                {
                    "path": "/Ac/PvOnGenset/L3/Power",
                    "type": "float",
                    "name": "PV Power AC-tied on Generator L3"
                },
                {
                    "path": "/Ac/PvOnGenset/NumberOfPhases",
                    "type": "integer",
                    "name": "PV Power AC-tied on Generator Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnGrid/L1/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L1 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/L2/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L2 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/L3/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on input L3 (W)"
                },
                {
                    "path": "/Ac/PvOnGrid/NumberOfPhases",
                    "type": "integer",
                    "name": "PV - AC-coupled on input Number Of Phases"
                },
                {
                    "path": "/Ac/PvOnOutput/L1/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L1 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/L2/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L2 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/L3/Power",
                    "type": "float",
                    "name": "PV - AC-coupled on output L3 (W)"
                },
                {
                    "path": "/Ac/PvOnOutput/NumberOfPhases",
                    "type": "integer",
                    "name": "PV - AC-coupled on output Number Of Phases"
                },
                {
                    "path": "/Buzzer/State",
                    "type": "float",
                    "name": "Buzzer State",
                    "enum": {
                        "0": "Off",
                        "1": "On"
                    }
                },
                {
                    "path": "/Dc/Battery/ConsumedAmphours",
                    "type": "float",
                    "name": "Battery Consumed Amphours (Ah)"
                },
                {
                    "path": "/Dc/Battery/Current",
                    "type": "float",
                    "name": "Battery current (A)"
                },
                {
                    "path": "/Dc/Battery/Power",
                    "type": "float",
                    "name": "Battery Power (W)"
                },
                {
                    "path": "/Dc/Battery/Soc",
                    "type": "float",
                    "name": "Battery State of Charge (%)"
                },
                {
                    "path": "/Dc/Battery/State",
                    "type": "enum",
                    "name": "Battery state",
                    "enum": {
                        "0": "idle",
                        "1": "charging",
                        "2": "discharging"
                    }
                },
                {
                    "path": "/Dc/Battery/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/Battery/TimeToGo",
                    "type": "float",
                    "name": "Battery Time to Go (h)"
                },
                {
                    "path": "/Dc/Battery/Voltage",
                    "type": "float",
                    "name": "Battery voltage (V)"
                },
                {
                    "path": "/Dc/Charger/Power",
                    "type": "integer",
                    "name": "AC-Chargers - power (W)"
                },
                {
                    "path": "/Dc/Pv/Current",
                    "type": "float",
                    "name": "MPPTs - current (A)"
                },
                {
                    "path": "/Dc/Pv/Power",
                    "type": "float",
                    "name": "MPPTs - power (W)"
                },
                {
                    "path": "/Dc/System/Power",
                    "type": "float",
                    "name": "DC System (W)"
                },
                {
                    "path": "/Dc/Vebus/Current",
                    "type": "float",
                    "name": "VE.Bus charge current (A)"
                },
                {
                    "path": "/Dc/Vebus/Power",
                    "type": "float",
                    "name": "VE.Bus charge power (W)"
                },
                {
                    "path": "/Serial",
                    "type": "string",
                    "name": "Serial (System)"
                },
                {
                    "path": "/SystemType",
                    "type": "string",
                    "name": "System type"
                },
                {
                    "path": "/Timers/TimeOff",
                    "type": "float",
                    "name": "Time off (s)"
                },
                {
                    "path": "/Timers/TimeOnGenerator",
                    "type": "float",
                    "name": "Time generator (s)"
                },
                {
                    "path": "/Timers/TimeOnGrid",
                    "type": "float",
                    "name": "Time grid (s)"
                },
                {
                    "path": "/Timers/TimeOnInverter",
                    "type": "float",
                    "name": "Time inverting (s)"
                }
            ]
        },
        "pathObj": {
            "path": "/Timers/TimeOnGenerator",
            "type": "float",
            "name": "Time generator (s)"
        },
        "initial": "",
        "name": "",
        "x": 430,
        "y": 900,
        "wires": [
            [
                "7770e2981bee9b98"
            ]
        ]
    },
    {
        "id": "0b698a9c30b0ff5b",
        "type": "victron-input-vebus",
        "z": "0f090326dfca25f3",
        "service": "com.victronenergy.vebus.ttyS4",
        "path": "/Ac/ActiveIn/ActiveInput",
        "serviceObj": {
            "service": "com.victronenergy.vebus.ttyS4",
            "name": "MultiPlus-II 12/3000/120-32",
            "paths": [
                {
                    "path": "/Ac/ActiveIn/ActiveInput",
                    "type": "enum",
                    "name": "Active input",
                    "enum": {
                        "0": "AC Input 1",
                        "1": "AC Input 2",
                        "240": "Disconnected"
                    }
                },
                {
                    "path": "/Ac/ActiveIn/CurrentLimit",
                    "type": "float",
                    "name": "Active input current limit (A)"
                },
                {
                    "path": "/Ac/ActiveIn/L1/F",
                    "type": "float",
                    "name": "Input frequency 1 (Hz)"
                },
                {
                    "path": "/Ac/ActiveIn/L1/I",
                    "type": "float",
                    "name": "Input current phase 1 (A)"
                },
                {
                    "path": "/Ac/ActiveIn/L1/P",
                    "type": "float",
                    "name": "Input power 1 (W)"
                },
                {
                    "path": "/Ac/ActiveIn/L1/V",
                    "type": "float",
                    "name": "Input voltage phase 1 (VAC)"
                },
                {
                    "path": "/Ac/ActiveIn/L2/F",
                    "type": "float",
                    "name": "Input frequency 2 (Hz)"
                },
                {
                    "path": "/Ac/ActiveIn/L2/I",
                    "type": "float",
                    "name": "Input current phase 2 (A)"
                },
                {
                    "path": "/Ac/ActiveIn/L2/P",
                    "type": "float",
                    "name": "Input power 2 (W)"
                },
                {
                    "path": "/Ac/ActiveIn/L2/V",
                    "type": "float",
                    "name": "Input voltage phase 2 (VAC)"
                },
                {
                    "path": "/Ac/ActiveIn/L3/F",
                    "type": "float",
                    "name": "Input frequency 3 (Hz)"
                },
                {
                    "path": "/Ac/ActiveIn/L3/I",
                    "type": "float",
                    "name": "Input current phase 3 (A)"
                },
                {
                    "path": "/Ac/ActiveIn/L3/P",
                    "type": "float",
                    "name": "Input power 3 (W)"
                },
                {
                    "path": "/Ac/ActiveIn/L3/V",
                    "type": "float",
                    "name": "Input voltage phase 3 (VAC)"
                },
                {
                    "path": "/Ac/In/1/CurrentLimit",
                    "type": "float",
                    "name": "Input 1 current limit (A)"
                },
                {
                    "path": "/Ac/In/1/CurrentLimitIsAdjustable",
                    "type": "enum",
                    "name": "Input 1 current limit is adjustable",
                    "enum": {
                        "0": "No",
                        "1": "Yes"
                    }
                },
                {
                    "path": "/Ac/In/2/CurrentLimit",
                    "type": "float",
                    "name": "Input 2 current limit (A)"
                },
                {
                    "path": "/Ac/In/2/CurrentLimitIsAdjustable",
                    "type": "enum",
                    "name": "Input 2 current limit is adjustable",
                    "enum": {
                        "0": "No",
                        "1": "Yes"
                    }
                },
                {
                    "path": "/Ac/NumberOfPhases",
                    "type": "float",
                    "name": "Phase count"
                },
                {
                    "path": "/Ac/Out/L1/F",
                    "type": "float",
                    "name": "Output frequency (Hz)"
                },
                {
                    "path": "/Ac/Out/L1/I",
                    "type": "float",
                    "name": "Output current phase 1 (A)"
                },
                {
                    "path": "/Ac/Out/L1/P",
                    "type": "float",
                    "name": "Output power 1 (W)"
                },
                {
                    "path": "/Ac/Out/L1/V",
                    "type": "float",
                    "name": "Output voltage phase 1 (VAC)"
                },
                {
                    "path": "/Ac/Out/L2/I",
                    "type": "float",
                    "name": "Output current phase 2 (A)"
                },
                {
                    "path": "/Ac/Out/L2/P",
                    "type": "float",
                    "name": "Output power 2 (W)"
                },
                {
                    "path": "/Ac/Out/L2/V",
                    "type": "float",
                    "name": "Output voltage phase 2 (VAC)"
                },
                {
                    "path": "/Ac/Out/L3/I",
                    "type": "float",
                    "name": "Output current phase 3 (A)"
                },
                {
                    "path": "/Ac/Out/L3/P",
                    "type": "float",
                    "name": "Output power 3 (W)"
                },
                {
                    "path": "/Ac/Out/L3/V",
                    "type": "float",
                    "name": "Output voltage phase 3 (VAC)"
                },
                {
                    "path": "/Ac/State/IgnoreAcIn1",
                    "type": "enum",
                    "name": "AC input 1 ignored",
                    "enum": {
                        "0": "AC input not ignored",
                        "1": "AC input ignored"
                    }
                },
                {
                    "path": "/Alarms/GridLost",
                    "type": "enum",
                    "name": "Grid lost alarm",
                    "enum": {
                        "0": "Ok",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighTemperature",
                    "type": "enum",
                    "name": "Temperature",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L1/HighTemperature",
                    "type": "enum",
                    "name": "Temperature alarm L1",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L1/LowBattery",
                    "type": "enum",
                    "name": "Low battery alarm L1",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L1/Overload",
                    "type": "enum",
                    "name": "Overload alarm L1",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L1/Ripple",
                    "type": "enum",
                    "name": "Ripple alarm L1",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L2/HighTemperature",
                    "type": "enum",
                    "name": "Temperature alarm L2",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L2/LowBattery",
                    "type": "enum",
                    "name": "Low battery alarm L2",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L2/Overload",
                    "type": "enum",
                    "name": "Overload alarm L2",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L2/Ripple",
                    "type": "enum",
                    "name": "Ripple alarm L2",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L3/HighTemperature",
                    "type": "enum",
                    "name": "Temperature alarm L3",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L3/LowBattery",
                    "type": "enum",
                    "name": "Low battery alarm L3",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L3/Overload",
                    "type": "enum",
                    "name": "Overload alarm L3",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/L3/Ripple",
                    "type": "enum",
                    "name": "Ripple alarm L3",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowBattery",
                    "type": "enum",
                    "name": "Low battery",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/Overload",
                    "type": "enum",
                    "name": "Overload",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/PhaseRotation",
                    "type": "enum",
                    "name": "Phase Rotation",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning"
                    }
                },
                {
                    "path": "/Alarms/TemperatureSensor",
                    "type": "enum",
                    "name": "Temperatur sensor alarm",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/VoltageSensor",
                    "type": "enum",
                    "name": "Voltage sensor alarm",
                    "enum": {
                        "0": "Ok",
                        "1": "Warning",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Dc/0/Current",
                    "type": "float",
                    "name": "Current (A)"
                },
                {
                    "path": "/Dc/0/Temperature",
                    "type": "float",
                    "name": "Temperature (C)"
                },
                {
                    "path": "/Dc/0/Voltage",
                    "type": "float",
                    "name": "Voltage (V)"
                },
                {
                    "path": "/Energy/AcIn1ToAcOut",
                    "type": "float",
                    "name": "Energy ACIn1 to AcOut (kWh)"
                },
                {
                    "path": "/Energy/AcIn1ToInverter",
                    "type": "float",
                    "name": "Energy AcIn1 to Inverter (kWh)"
                },
                {
                    "path": "/Energy/AcIn2ToAcOut",
                    "type": "float",
                    "name": "Energy ACIn2 to AcOut (kWh)"
                },
                {
                    "path": "/Energy/AcIn2ToInverter",
                    "type": "float",
                    "name": "Energy ACIn2 to Inverter (kWh)"
                },
                {
                    "path": "/Energy/AcOutToAcIn1",
                    "type": "float",
                    "name": "Energy AcOut to AcIn1 (kWh)"
                },
                {
                    "path": "/Energy/AcOutToAcIn2",
                    "type": "float",
                    "name": "Energy AcOut to AcIn2 (kWh)"
                },
                {
                    "path": "/Energy/InverterToAcIn1",
                    "type": "float",
                    "name": "Energy Inverter to AcIn1 (kWh)"
                },
                {
                    "path": "/Energy/InverterToAcIn2",
                    "type": "float",
                    "name": "Energy Inverter to AcIn2 (kWh)"
                },
                {
                    "path": "/Energy/InverterToAcOut",
                    "type": "float",
                    "name": "Inverter To AcOut (kWh)"
                },
                {
                    "path": "/Energy/OutToInverter",
                    "type": "float",
                    "name": "AcOut to Inverter (kWh)"
                },
                {
                    "path": "/Mode",
                    "type": "enum",
                    "name": "Switch Position",
                    "enum": {
                        "1": "Charger Only",
                        "2": "Inverter Only",
                        "3": "On",
                        "4": "Off"
                    }
                },
                {
                    "path": "/ModeIsAdjustable",
                    "type": "enum",
                    "name": "Mode is adjustable",
                    "enum": {
                        "0": "No",
                        "1": "Yes"
                    }
                },
                {
                    "path": "/Soc",
                    "type": "float",
                    "name": "VE.Bus state of charge (%)"
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "VE.Bus state",
                    "enum": {
                        "0": "Off",
                        "1": "Low Power",
                        "2": "Fault",
                        "3": "Bulk",
                        "4": "Absorption",
                        "5": "Float",
                        "6": "Storage",
                        "7": "Equalize",
                        "8": "Passthru",
                        "9": "Inverting",
                        "10": "Power assist",
                        "11": "Power supply",
                        "252": "Bulk protect"
                    }
                },
                {
                    "path": "/VebusError",
                    "type": "enum",
                    "name": "VE.Bus Error",
                    "enum": {
                        "0": "No error",
                        "1": "VE.Bus Error 1: Device is switched off because one of the other phases in the system has switched off",
                        "2": "VE.Bus Error 2: New and old types MK2 are mixed in the system",
                        "3": "VE.Bus Error 3: Not all, or more than, the expected devices were found in the system",
                        "4": "VE.Bus Error 4: No other device whatsoever detected",
                        "5": "VE.Bus Error 5: Overvoltage on AC-out",
                        "6": "VE.Bus Error 6: Error in DDC Program",
                        "7": "VE.Bus Error 7:  BMS connected, which requires an Assistant, but no assistant found",
                        "8": "VE.Bus Error 8: Ground relay test failed",
                        "9": "VE.Bus Error 9",
                        "10": "VE.Bus Error 10: System time synchronisation problem occurred",
                        "11": "VE.Bus Error 11: Relay test fault",
                        "12": "VE.Bus Error 12",
                        "13": "VE.Bus Error 13",
                        "14": "VE.Bus Error 14: Device cannot transmit data",
                        "15": "VE.Bus Error 15",
                        "16": "VE.Bus Error 16: Awaiting configuration or dongle missing",
                        "17": "VE.Bus Error 17: Phase master missing",
                        "18": "VE.Bus Error 18: AC Overvoltage on the output of a slave has occurred while already switched off",
                        "19": "VE.Bus Error 19",
                        "20": "VE.Bus Error 20",
                        "21": "VE.Bus Error 21",
                        "22": "VE.Bus Error 22: This device cannot function as slave",
                        "23": "VE.Bus Error 23",
                        "24": "VE.Bus Error 24: Switch-over system protection initiated",
                        "25": "VE.Bus Error 25: Firmware incompatibility. The firmware of one of the connected device is not sufficiently up to date to operate in conjunction with this device",
                        "26": "VE.Bus Error 26: Internal error",
                        "27": "VE.Bus Error 27",
                        "28": "VE.Bus Error 28",
                        "29": "VE.Bus Error 29",
                        "30": "VE.Bus Error 30",
                        "31": "VE.Bus Error 31",
                        "32": "VE.Bus Error 32"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/ActiveInput",
            "type": "enum",
            "name": "Active input",
            "enum": {
                "0": "AC Input 1",
                "1": "AC Input 2",
                "240": "Disconnected"
            }
        },
        "initial": "",
        "name": "",
        "x": 420,
        "y": 960,
        "wires": [
            [
                "1c6fe4115f771eb7"
            ]
        ]
    },
    {
        "id": "d80bdb68af7b6dab",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 56",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 840,
        "wires": []
    },
    {
        "id": "7770e2981bee9b98",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c6fe4115f771eb7",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 58",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 960,
        "wires": []
    },
    {
        "id": "968e961550e0919c",
        "type": "inject",
        "z": "0f090326dfca25f3",
        "name": "?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "05c816163a4b3763"
            ]
        ]
    },
    {
        "id": "3516496342b337e0",
        "type": "victron-input-generator",
        "z": "0f090326dfca25f3",
        "service": "com.victronenergy.generator.startstop0",
        "path": "/State",
        "serviceObj": {
            "service": "com.victronenergy.generator.startstop0",
            "name": "com.victronenergy.generator.startstop0",
            "paths": [
                {
                    "path": "/AutoStartEnabled",
                    "type": "enum",
                    "name": "Auto start enabled/disabled",
                    "enum": {
                        "0": "Autostart disabled",
                        "1": "Autostart enabled"
                    }
                },
                {
                    "path": "/ManualStart",
                    "type": "enum",
                    "name": "Manual Start",
                    "enum": {
                        "0": "Stop generator",
                        "1": "Start generator"
                    }
                },
                {
                    "path": "/RunningByConditionCode",
                    "type": "enum",
                    "name": "Condition that started the generator",
                    "enum": {
                        "0": "Stopped",
                        "1": "Manual",
                        "2": "TestRun",
                        "3": "LossOfComms",
                        "4": "Soc",
                        "5": "AcLoad",
                        "6": "BatteryCurrent",
                        "7": "BatteryVoltage",
                        "8": "InverterTemperatur",
                        "9": "InverterOverload",
                        "10": "StopOnAc1"
                    }
                },
                {
                    "path": "/Runtime",
                    "type": "float",
                    "name": "Runtime in seconds (seconds)"
                },
                {
                    "path": "/QuietHours",
                    "type": "enum",
                    "name": "Quiet hours active",
                    "enum": {
                        "0": "Quiet hours inactive",
                        "1": "Quiet hours active"
                    }
                },
                {
                    "path": "/State",
                    "type": "enum",
                    "name": "Generator start/stop state",
                    "enum": {
                        "0": "Stopped",
                        "1": "Running",
                        "10": "Error"
                    }
                },
                {
                    "path": "/Error",
                    "type": "enum",
                    "name": "Generator remote error",
                    "enum": {
                        "0": "No Error",
                        "1": "Remote disabled",
                        "2": "Remote fault"
                    }
                },
                {
                    "path": "/Alarms/NoGeneratorAtAcIn",
                    "type": "enum",
                    "name": "Generator not detected at AC input alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                }
            ]
        },
        "pathObj": {
            "path": "/State",
            "type": "enum",
            "name": "Generator start/stop state",
            "enum": {
                "0": "Stopped",
                "1": "Running",
                "10": "Error"
            }
        },
        "initial": "",
        "name": "",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "a3883b3441e66b50"
            ]
        ]
    },
    {
        "id": "a3883b3441e66b50",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "05c816163a4b3763",
        "type": "exec",
        "z": "0f090326dfca25f3",
        "command": " /data/rgpio/mod_generator",
        "addpay": "",
        "append": "Get_AC_Source",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get_AC_Source",
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "225a7608d9d7af24"
            ],
            [],
            [
                "6cce48b93b8c9e66"
            ]
        ]
    },
    {
        "id": "225a7608d9d7af24",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 100,
        "wires": []
    },
    {
        "id": "6cce48b93b8c9e66",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 180,
        "wires": []
    },
    {
        "id": "6ea3a42366317946",
        "type": "exec",
        "z": "0f090326dfca25f3",
        "command": " /data/rgpio/mod_generator",
        "addpay": "payload",
        "append": "Set_AC_Source",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set_AC_Source",
        "x": 1460,
        "y": 540,
        "wires": [
            [],
            [],
            [
                "f38bfa8c74238201"
            ]
        ]
    },
    {
        "id": "15bb2dc76f47e763",
        "type": "inject",
        "z": "0f090326dfca25f3",
        "name": "Grid",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "6ea3a42366317946"
            ]
        ]
    },
    {
        "id": "5cf82d65d3c25e2d",
        "type": "inject",
        "z": "0f090326dfca25f3",
        "name": "Shore",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 1170,
        "y": 660,
        "wires": [
            [
                "6ea3a42366317946"
            ]
        ]
    },
    {
        "id": "f38bfa8c74238201",
        "type": "debug",
        "z": "0f090326dfca25f3",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 560,
        "wires": []
    },
    {
        "id": "4109d5ecdd3cc554",
        "type": "inject",
        "z": "0f090326dfca25f3",
        "name": "Generator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 1180,
        "y": 620,
        "wires": [
            [
                "6ea3a42366317946"
            ]
        ]
    },
    {
        "id": "34912cb8e26c176b",
        "type": "link in",
        "z": "0f090326dfca25f3",
        "name": "link in Generator",
        "links": [
            "b200fd58ad5bead4"
        ],
        "x": 505,
        "y": 480,
        "wires": [
            [
                "8e8f68885ba5a388",
                "dd208b68ddb96bb7"
            ]
        ]
    },
    {
        "id": "8e8f68885ba5a388",
        "type": "change",
        "z": "0f090326dfca25f3",
        "name": "Generator GUI",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 480,
        "wires": [
            [
                "92f675dce0b4e887"
            ]
        ]
    },
    {
        "id": "dd208b68ddb96bb7",
        "type": "change",
        "z": "0f090326dfca25f3",
        "name": "AC Source",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 540,
        "wires": [
            [
                "6ea3a42366317946"
            ]
        ]
    },
    {
        "id": "05b80bb47b48fcee",
        "type": "comment",
        "z": "0f090326dfca25f3",
        "name": "Digital Input to be read",
        "info": "",
        "x": 520,
        "y": 520,
        "wires": []
    }
]